<h1>Help</h1>

There's no help text here yet, I don't have time to write anything.<br />
Ask me via <a href="mailto:zoreslav@gmail.com">zoreslav@gmail.com</a> or via twitter @<a href="http://twitter.com/zoreslav">zoreslav</a>, and I'll answer.