<div id="tags">
<h1>Help</h1>

<h2>Editing tags</h2>

1. Double-click tag name to edit.<br />
2. Enter two tags (space-separated) to split tag into two.<br />
3. Enter existing tag name to merge tags and their links.<br />
4. Drop a tag onto another to merge tags and their links.<br />
5. Delete tag name and press enter to erase tag.<br />
6. Press red x near tag name to erase tag.<br />
7. Drop tag onto bundle name in sidebar to add tag to that bundle.<br />

<h2>Editing bundles</h2>

1. Enter a name for newly created bundle into sidebar field<br />
2. Drop tags for newly created bundle to the sidebar below name<br />
3. Press red x near tag name <b>in the list</b> to remove tag from it and not add it to bundle.<br />
3. Click 'Add' button and see new bundle appearing in the list.<br />
4. Click on bundle in the list to edit its tags.<br />
5. Press red x near bundle name to delete that bundle (but not the tags it contains)<br />

<br />
<br />
There's no more help text here yet, I don't have time to write anything more.<br />
Ask me via <a href="mailto:zoreslav@gmail.com">zoreslav@gmail.com</a> or via twitter @<a href="http://twitter.com/zoreslav">zoreslav</a>, and I'll answer.
</div>