<!DOCTYPE html>
<html>
<head>
  <title>Delicious tag editor - add, edit, merge my tags and manage bundles with no pain</title>
  <%= stylesheet_link_tag 'custom.css', 'jquery-autocomplete.css' %>
  <%= javascript_include_tag "jquery.js", "jquery-ui.js", "jquery-autocomplete.js" %>
  <%= csrf_meta_tag %>
</head>
<body>
<%= yield %>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-19551562-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>
